
:root {
    --bc: #4C69FF;
}
/*
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #F6E392;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #F4C84E;
    border-radius: 6px;
}*/

@font-face {
    font-family: "Jua";
    src: url("../assets/font/Jua/Jua-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Funnel";
    src: url("../assets/font/Funnel_Sans/FunnelSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/*@font-face {
    font-family: "Teko";
    src: url("../assets/font/Teko/Teko-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
/*    overflow-x: hidden;
    overflow-y: hidden;*/
/*    scrollbar-color: yellow;*/
}

body {
    font-family: "Jua", sans-serif;
    background-color: #FFF8BB;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

p, li {
    font-size: 1.4em;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    cursor: pointer;
}

ul, ol {
    padding-left: 2em;
}

table {
    border-spacing: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: calc(150vh / 9 * 16);
    height: 150vh;
    min-width: 100%;
    min-height: 100%;
}

#content, #thanks {
    color: #04B;
}

#content {
/*  display: grid; */
    width: 300vw;
    height: 200vh;
}

#content a, #thanks a {
    color: #59F;
}

#content a:hover, #thanks a:hover {
    color: white;
}

#thanks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

/*  color: #58D;*/
    background-color: #8DF;

    font-size: 4em;
}

#home    { top:   0;   left:   0;   }
#who-we-are { top: 100vh; left:   0;   }
#services   { top:   0;   left: 100vw;   display: flex; flex-direction: row; align-items: center; }
#admissions { top: 100vh; left: 100vw; }
#contact    { top:   0;   left: 200vw;   display: flex; flex-direction: row; }

#services .page-segment, #who-we-are .page-segment, #admissions .page-segment {
    width: 50%;
}

.middle {
/*  width: 1%; */
    border-right: 2px solid #04B;
    height: 85%;
}

#admissions .faq {
    font-size: 1em;
}

.zone {
    width: 100vw;
    height: 100vh;
    padding-top: 9vh;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
/*  align-items: center; */

    overflow-x: hidden;
/*  overflow-y: scroll; */
}

.page-segment {
    margin: 0 4vw;
}

.page-row {
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: space-evenly;
}

#main-menu {
    display: flex;
    background-color: #4842FF;

    width: 100vw;
    height: 7vh;
    
    position: fixed;
    top: 0;

    font-size: 2em;

    outline: 4px solid #DEF;

    z-index: 50;
    color: white;
}

#main-menu > * {
    width: 100%;
/*  height: 10vh; */
    text-align: center;
}

#hamburger {
    display: none;
    width: 0;
    height: 0;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
/*  text-align: center; */
    align-items: center;
    font-size: 0.85em;
}

#links a {
    display: inline-block;
}

#l1:hover { color: #FA6; }
#l2:hover { color: #FC4; }
#l3:hover { color: #FF2; }
#l4:hover { color: #9F9; }
#l5:hover { color: #8FF; }
#l6:hover { color: #DAF; }

/*
#l2 { rotate: -3.5deg; }
#l3 { rotate: -1.3deg; }
#l1 { rotate:  0.4deg; }
#l4 { rotate: -3.5deg; }
#l5 { rotate:  1.5deg; }
*/

#top {
    height: 100%;
/*  margin-top: calc(10vh - 15px); /* must be same as top menu */

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#logo {
/*  max-width: 60vw; */
    width: 570px;
    height: 434px;
    margin: auto;
    opacity: 0;

    background-image: url("../assets/img/whirlsheet.png");
    background-repeat: no-repeat;
}

#rg1 { rotate:  1.6deg; }
#rg2 { rotate: -0.9deg; }
#rg3 { rotate:  2.1deg; }

.activities-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.paint-img {
    width: 21vw;
    height: 14vw;

    font-size: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100% 100%;
}

.paint-img img {
    width: 71.4%;
    border-radius: 10px;
    margin: auto;
}

.paint-img-2, .paint-img-3 {
    height: 20vh;
}

/*.paint-img-2 {
    width: 15vw;
}

.paint-img-3 {
    width: 40vw;
}*/

#pic-room-1 { rotate: -0.7deg; }
#pic-room-2 { rotate:  1.2deg; }
#pic-room-3 { rotate: -0.8deg; }

#activities-grid-p1 { rotate: -2.5deg; background-image: url("../assets/img/pbg1.png"); }
#activities-grid-p2 { rotate:  1.1deg; background-image: url("../assets/img/pbg2.png"); }
#activities-grid-p3 { rotate:  5.0deg; background-image: url("../assets/img/pbg3.png"); }
#activities-grid-p4 { rotate: -1.2deg; background-image: url("../assets/img/pbg4.png"); }

#founder-photo {
/*    width: 40vw;*/
    width: 42vw;
    height: 28vw;
    background-image: url("../assets/img/founder.png");
}

#service-table {
    width: 100%;
    text-align: left;
    font-size: 1.4em;
}

#service-table td {
    border-top: 2px solid #04B;
}

#contact-form-area {
    width: 70%;
}

#contact-form-area {
    margin: 0 10%;
}


#contact-form {
    display: flex;
    flex-direction: column;
    /*
    background-color: #5A7;
    border-radius: 10px;
    */

    justify-content: center;
}

input[type=submit] {
    font-family: "Jua", sans-serif;

    width: 100px;
    height: 60px;
    background-image: url("../assets/img/send.png");
    background-size: cover;
    background-position: center;

    color: white;
}

input[type=submit]:hover {
    background-color: white;
    cursor: pointer;
    color: #8AF;
}

input, textarea {
    font-family: "Funnel";
    border: none;
/*  font-family: "Jua"; /* Good idea? */
    font-size: 1.2em;
    margin-bottom: 0.7em;
    padding: 2px;
/*
    Alternate:
    border: 2px solid transparent;
    border-image: url("../assets/img/border2.png") 30 stretch;
*/
    border: 2px solid #04B;


    background-color: #8AD;
    transition: background-color 0.4s;
    color: #002;
}

input:focus, textarea:focus {
    background-color: #AFF;
}

textarea {
    resize: none;
    height: 28vh;
}

label {
    font-size: 1.6em;
}

label:hover {
    cursor: text;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65vh;
}

#contact-info > div {
    width: 35vh;
    height: 35vh;
    font-size: 0.8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-size: 100%;
}

#contact-info-left {
    background-image: url("../assets/img/contact_l.png");
    rotate: 2deg;
}

#contact-info-right {
    background-image: url("../assets/img/contact_r.png");
    rotate: -3deg;
}
