
:root {
    --bc: #4C69FF;
}
/*
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #F6E392;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #F4C84E;
    border-radius: 6px;
}*/

@font-face {
    font-family: "Jua";
    src: url("../assets/font/Jua/Jua-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Funnel";
    src: url("../assets/font/Funnel_Sans/FunnelSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/*@font-face {
    font-family: "Teko";
    src: url("../assets/font/Teko/Teko-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
/*    overflow-x: hidden;
    overflow-y: hidden;*/
/*    scrollbar-color: yellow;*/
}

body {
    font-family: "Jua", sans-serif;
    background-color: #FFF8BB;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    cursor: pointer;
}

ul, ol {
    padding-left: 2em;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: calc(150vh / 9 * 16);
    height: 150vh;
    min-width: 100%;
    min-height: 100%;
}

#content {
/*    width: 60vw;*/
/*    width: 500vw;
    height: 94vh;*/
/*    margin-top: 6vh;*/

/*    color: #135;*/
    color: #04B;

/*    display: grid;
    grid-template-areas:
        "a b"
        "c d";
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 100vh 100vh;*/

/*    grid-template-areas:
        "w c x"
        "d a b"
        "z e y";*/
    width: 200vw;
    height: 300vh;

/*    background-image: url("../../assets/img/bg.png");
    background-position: center;
    background-attachment: fixed;*/
/*    background-position: center;*/
}

#content a {
    color: #59F;
}

#content a:hover {
    color: white;
}

#welcome    { /*grid-area: a;*/ top:   0;   left:   0;   }
#who-we-are { /*grid-area: b;*/ top:   0;   left: 100vw; }
#programs   { /*grid-area: c;*/ top: 100vh; left:   0;   }
#services   { /*grid-area: d;*/ top: 100vh; left: 100vw; }

/*    background-image: url("../../assets/img/title.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}*/

#contact {
/*    grid-area: d;*/
    top: 200vh;
    left: 0;

    display: flex;
    flex-direction: row;
}

#admissions { /* grid-area: e;*/ top: 100vh; left: 100vw; }

/*#contact > * {
    width: 50%;
    height: 100%;
}*/

/*#contact > * {
    width: 50%;
}*/


.zone {
    width: 100vw;
    height: 100vh;
/*    outline: 2px solid blue;*/
    padding-top: 9vh;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
/*    align-items: center;*/

    overflow-x: hidden;
/*    overflow-y: scroll;*/
}

/*.zone:first-child {
    margin-top: 6vh;
}*/

.page-segment {
/*    margin-bottom: 10vh;*/
/*    margin-top: 6vh;*/
/*    width: 60vw;*/
/*    margin-left: 20vw;*/
    margin: 0 4vw;
/*    display: flex;*/
/*    flex-direction: column;
    justify-content: space-evenly;*/
/*    outline: 4px solid #777;*/
}

.page-row {
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: space-evenly;
}

/*#title {
    color: green;
}*/
/*
#title span:nth-child(5n) {
    color: red;
}

#title span:nth-child(5n+1) {
    color: yellow;
}

#title span:nth-child(5n+2) {
    color: green;
}

#title span:nth-child(5n+3) {
    color: blue;
}

#title span:nth-child(5n+4) {
    color: magenta;
}
*/
#main-menu {
/*    font-family: "Teko", sans-serif;*/
/*    font-family: "Funnel", sans-serif;*/
    display: flex;
/*    border-radius: 15px;*/
    background-color: #4842FF;
/*    outline: 6px solid #27C; */
    width: 100vw;
    height: 7vh;
    
    position: fixed;
    top: 0;
/*    left: 0;*/
/*    top: -15px;*/
/*    margin-top: 4vh;*/
/*    clip-path: polygon(0 16%, 100% 9%, 88% 84%, 7% 75%);*/
/*    clip-path: inset(16% 30% 4% 7% round 10%);*/
/*    background-image: url("../assets/img/test.jpg");*/
/*    background-size: cover;*/

    font-size: 2em;

    outline: 4px solid #DEF;

    z-index: 50;
    color: white;
}

#main-menu > * {
    width: 100%;
/*    height: 10vh;*/
    text-align: center;
}

#hamburger {
    display: none;
    width: 0;
    height: 0;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
/*    text-align: center;*/
    align-items: center;
    font-size: 0.85em;
}

#links a {
    display: inline-block;
/*    width: 50px;*/
/*    background-color: red;*/
}

#l1:hover { color: #FA8; }
#l2:hover { color: #FF2; }
#l3:hover { color: #9F9; }
#l4:hover { color: #4AF; }
#l5:hover { color: #DAF; }

/*
#l2 { rotate: -3.5deg; }
#l3 { rotate: -1.3deg; }
#l1 { rotate:  0.4deg; }
#l4 { rotate: -3.5deg; }
#l5 { rotate:  1.5deg; }
*/

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

p, li {
    font-size: 1.4em;
}

#top {
    height: 100%;
/*    margin-top: calc(10vh - 15px); /* must be same as top menu */

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#logo {
    max-width: 60vw;
    width: 570px;
/*    height: 200px;*/
    margin: auto;
/*    border: 4px solid #FA7;*/
/*    outline: 4px solid #F51;*/

/*    border: 50px solid transparent;*/
/*    border-image: url("../assets/img/send.png") 30 stretch;*/
/*    border-image: url("../assets/img/border1.png") 200 stretch;*/
}

#rg1 { rotate:  1.6deg; }
#rg2 { rotate: -0.9deg; }
#rg3 { rotate:  2.1deg; }

#rooms-grid {
    display: flex;
    flex-direction: row;
/*    justify-content: space-evenly;*/
/*justify-content: space-around;*/
    justify-content: space-between;
}

#rooms-grid > div {
    background-color: #7FD;
    border-radius: 10px;
    width: 18vw;
    height: 12vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#activities-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
/*    background-color: red;*/
    justify-content: center;
}

.paint-img {
/*  width: 30%;
    height: 24vw;
*/  
/*    width: 27vw;
    height: 18vw;
*/
/*    width: 50%;*/
/*    width: 36vw;
    height: 24vw;
*/
    width: 21vw;
    height: 14vw;
/*    width: 18vw;
    height: 12vw;
*/
/*    margin: 1vw;*/
/*    background-color: #9CE;*/
    font-size: 2em;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100% 100%;
}

.paint-img img {
    width: 71.4%;
    border-radius: 10px;
    margin: auto;

/*    outline: 4px solid #EF4F36;*/
}

#activities-grid-p1 { rotate: -2.5deg; background-image: url("../assets/img/pbg1.png"); }
#activities-grid-p2 { rotate:  1.1deg; background-image: url("../assets/img/pbg2.png"); }
#activities-grid-p3 { rotate:  5.0deg; background-image: url("../assets/img/pbg3.png"); }
#activities-grid-p4 { rotate: -1.2deg; background-image: url("../assets/img/pbg4.png"); }

#founder-photo {
/*    width: 40vw;*/
    width: 42vw;
    height: 28vw;
    background-image: url("../assets/img/founder.png");
}
/*#activities-grid-p1 { rotate: -2deg; }
#activities-grid-p1 { rotate: -1deg; }
*/

#service-table {
    width: 100%;
    text-align: left;
    font-size: 1.4em;
}

#contact-form-area {
    width: 70%;
}

#contact-form-area {
    margin: 0 10%;
}

/*#toggle-form {
    display: none;
}*/

#contact-form {
    display: flex;
    flex-direction: column;
    /*
    background-color: #5A7;
    border-radius: 10px;
    */

    justify-content: center;
}

#contact-form > * {
    /* cant you just use flex-center? */
/*    margin-left: 20%;
    margin-right: 20%;*/
/*    width: 50%;*/
}

input {
}

input[type=submit] {
    font-family: "Jua", sans-serif;
/*    width: 5vw;
    height: 3vw;*/
    width: 100px;
    height: 60px;
    background-image: url("../assets/img/send.png");
    background-size: cover;
    background-position: center;
/*    outline: none;*/
    color: white;
}

input[type=submit]:hover {
    background-color: white;
    cursor: pointer;
    color: #8AF;
}

input, textarea {
    font-family: "Funnel";
    border: none;
/*    font-family: "Jua"; /* Good idea? */
    font-size: 1.6em;
    margin-bottom: 0.7em;
    padding: 2px;
/*    border-radius: 2px;*/

/*    outline: 2px solid white;*/
    border: 2px solid transparent;
    border-image: url("../assets/img/border2.png") 30 stretch;
/*    border-image: url("../assets/img/border1.png") 200 stretch;*/

    background-color: #8AD;
    transition: background-color 0.4s;
    color: #002;
}

input:focus, textarea:focus {
    background-color: #AFF;
/*    color: white;*/
}

textarea {
    resize: none;
    height: 30vh;
}

label {
    font-size: 1.6em;
}

label:hover {
    cursor: text;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65vh;
}

#contact-info > div {
    width: 35vh;
    height: 35vh;
    font-size: 0.8em;

/*    background-color: #4D9;*/
/*    background-color: white;*/
/*    border-radius: 2px;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-size: 100%;

/*    outline: 5px solid var(--bc);*/
}

#contact-info-left {
    background-image: url("../assets/img/contact_l.png");
    rotate: 2deg;
}

#contact-info-right {
    background-image: url("../assets/img/contact_r.png");
    rotate: -3deg;
}
